*
!includes
!includes/libft
!srcs
!srcs/algo
!srcs/ft_printf
!srcs/is
!srcs/lst
!map
!srcs/math
!srcs/mem
!node
!srcs/print
!srcs/rbn
!srcs/rbt
!srcs/read
!srcs/set
!srcs/str
!srcs/to
!srcs/vec
!Makefile
!*.c
!*.h
!.gitignore
